$xlarge-screen-size: 1440px;
$large-screen-size: 1024px;
$medium-screen-size: 768px;
$small-screen-size: 576px;

// $bg-dark-blue: rgb(15 23 42/1);
$bg-dark-blue: #040c18;
$gradient-header: linear-gradient(120deg, #678bfa 1.84%, #f49867 102.67%);
$text-color: rgb(173, 192, 220);

$button-bg-gradient: linear-gradient(45deg, #3b54a9, #500640);
$button-text-gradient: rgb(202 202 237);
